@import 'utils.scss';

.container {
  width: 100%;
  padding-block-start: calc($header_height_mobile + $padding_inline_mobile);
  padding-block-end: $padding_inline_mobile;
  padding-inline: $padding_inline_mobile;

  @include breakpoint(tablet) {
    padding-block-start: calc($header_height_mobile + toRem(16));
    padding-block-end: toRem(16);
    padding-inline: toRem(16);
  }

  @include breakpoint(desktop) {
    padding-block-start: calc($header_height + toRem(16));
  }
}
