@import 'utils.scss';

.container {
  width: 100%;
  padding-block-start: calc($header_height_mobile + toRem(10));
  padding-block-end: toRem(10);
  padding-inline: toRem(10);

  @include breakpoint(tablet) {
    padding-block-start: calc($header_height_mobile + toRem(16));
    padding-block-end: toRem(16);
    padding-inline: toRem(16);
  }

  @include breakpoint(desktop) {
    padding-block-start: calc($header_height + toRem(16));
  }
}
