@import 'utils';

.screens {
  margin-block-start: toRem(50);

  @include breakpoint(desktop) {
    margin-block-start: toRem(100);
  }
}

.screen_container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin: auto;

  &:has(img[src]:not([src=""])) {
    margin-block: toRem(100);
  }

  @include breakpoint(tablet) {
    width: 90%;
  }
  @include breakpoint(desktop) {
    width: 100%;
  }

  &:nth-child(odd) {
    flex-direction: column;
    & .screen_image {
      transform: matrix(0.98, -0.17, 0.17, 0.98, 50, 0);
    }
    @include breakpoint(tablet) {
      flex-direction: row;
      & .screen_picture {
        display: flex;
        justify-content: flex-start;
      }
      & .screen_image {
        transform: matrix(0.98, -0.17, 0.17, 0.98, 0, 0);
      }
    }
  }

  &:nth-child(even) {
    flex-direction: column;
    & .screen_picture {
      justify-content: flex-end;
    }
    & .screen_image {
      transform: matrix(0.98, 0.17, -0.17, 0.98, 50, 0);
    }
    @include breakpoint(tablet) {
      flex-direction: row-reverse;
      & .screen_picture {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &[data-device-type="mobile"] {
    max-width: 800px;
  }
  &[data-device-type="desktop"] {
    max-width: $max_content_width;
  }
}

.screen_picture {
  width: 100%;
  height: auto;
  margin-block-end: toRem(16);

  @include breakpoint(tablet) {
    width: 50%;
    margin-block-end: 0;
  };

  &[data-device-type="mobile"] {
    @include breakpoint(tablet) {
      width: 50%;
      margin-block-end: 0;
    };
  }
  &[data-device-type="desktop"] {
    @include breakpoint(tablet) {
      width: 65%;
      margin-block-end: 0;
    };
  }
}

.screen_image {
  width: 75%;
}

.screen_info {
  width: 100%;

  &[data-device-type="mobile"] {
    @include breakpoint(tablet) {
      width: 40%;
    };
  }
  &[data-device-type="desktop"] {
    @include breakpoint(tablet) {
      width: 35%;
    };
  }
}

.screen_name {
  margin: 0;
  font-family: $mulish;
  font-weight: 700;
  font-size: toRem(20);
  line-height: 125%;
  color: $black;

  @include breakpoint(desktop) {
    font-size: toRem(32);
  }
}

.screen_description {
  font-family: $mulish;
  font-weight: 400;
  font-size: toRem(16);
  line-height: 125%;
  color: $black;

  @include breakpoint(desktop) {
    font-size: toRem(20);
  }
}
