@import 'utils';

.container {
  min-height: 100vh;
  padding-block-start: $header_height_mobile;
  padding-inline: toRem(10);

  @include breakpoint(tablet) {
    padding-inline: toRem(24);
  }

  @include breakpoint(desktop) {
    padding-block-start: $header_height;
    padding-inline: toRem(130);
  }
}

.final_prototype_title {
  margin-block: toRem(20);
  font-family: $mulish;
  font-weight: 700;
  font-size: toRem(24);
  line-height: 125%;

  @include breakpoint(desktop) {
    font-size: toRem(40);
  }
}

.prototype_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.prototype {
  aspect-ratio: 736/1800;
  margin-block-end: toRem(50);
}