@import 'utils';

.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: $header_height_mobile;
  padding-inline: toRem(36);
  color: $white;
  // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

  @include breakpoint(desktop) {
    height: $header_height;
  }
}

.logo_container {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: toRem(35);
  height: toRem(40);
}

.nav_container {
  display: flex;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin-inline-end: toRem(12);
}

.nav_link {
  margin-inline-end: toRem(30);
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: toRem(18);
  line-height: toRem(22);
  color: $white;
}

.contact_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact_info_text {
  color: $white;
  font-family: $mulish;
  font-size: toRem(16);
  line-height: toRem(24);
  font-style: normal;
  font-weight: 600;
}