@import 'utils';

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  background-color: $maastricht_blue;
}

.title {
  margin-block-start: toRem(18);
  font-family: $mulish;
  font-style: normal;
  font-weight: 900;
  font-size: toRem(18);
  line-height: 120%;
  text-align: center;
  letter-spacing: toRem(0.6);
  color: #CBCBCB;

  @include breakpoint(desktop) {
    margin-block-start: $padding_inline_desktop;
    font-size: $padding_inline_tablet;
  }
}

.contact_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.email {
  margin-block-end: toRem(30);
  font-family: $mulish;
  font-style: normal;
  font-weight: 700;
  font-size: $padding_inline_tablet;
  line-height: 80%;
  text-align: center;
  color: $white;

  @include breakpoint(desktop) {
    font-size: toRem(40);
  }
}

.phone_number {
  font-family: $mulish;
  font-style: normal;
  font-weight: 700;
  font-size: toRem(19);
  line-height: 168%;
  text-align: center;
  color: #FF8DA5;
}

.copyright {
  margin-block-end: 1rem;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: toRem(12);
  line-height: 200%;
  text-align: center;
  letter-spacing: toRem(0.2);
  color: $white;

  @include breakpoint(desktop) {
    font-size: toRem(16);
  }
}