@import 'utils.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-block-start: $header_height_mobile;
  padding-inline: $padding_inline_mobile;

  @include breakpoint(tablet) {
    padding-inline: $padding_inline_tablet;
  }

  @include breakpoint(desktop) {
    padding-block-start: $header_height;
    padding-inline: $padding_inline_desktop;
  }
}

.signin_card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(100vw - 2rem);
  padding: 1rem;
  aspect-ratio: 1/1;
  background: $white;
  border-radius: $border_radius_medium;
  box-shadow: 15px 15px 61px rgba(46, 45, 58, 0.13);

  @include breakpoint(tablet) {
    width: toRem(400);
  }
}

.signin_title {
  font-family: $mulish;
  font-style: normal;
  font-weight: 900;
  font-size: $padding_inline_tablet;
  line-height: 138%;
  text-align: center;
  color: $maastricht_blue;

  @include breakpoint(desktop) {
    font-size: toRem(36);
  }
}

.signin_subtitle {
  margin: 0;
  padding: 1rem;
  font-family: $mulish;
  font-style: normal;
  font-weight: 900;
  font-size: toRem(30);
  line-height: 100%;
  text-align: center;
  color: $maastricht_blue;
}

.signin_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}