@import 'utils';

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  min-height: $header_height_mobile;
  margin-inline: auto;
  padding-block-start: toRem(16);

  @include breakpoint(desktop) {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: $max_content_width;
    min-height: $header_height;
    padding-block: toRem(36);
  }
}

.logo_picture {
  height: toRem(75);

  @include breakpoint(desktop) {
    height: 60%;
  }
}

.logo_image {
  height: toRem(75);
}

.heading {
  font-family: $mulish;
  font-size: toRem(24);
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
  margin-block-start: toRem(16);
  margin-block-end: 0;

  @include breakpoint(desktop) {
    width: calc(100% - #{$preview_animation_width});
    margin-block-start: 0;
    padding-inline-end: toRem(16);
    font-size: toRem(30);
    text-align: start;
  }
}