@import 'utils';

.container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $maastricht_blue;
  transform: translateY(-100%);
  transition: all .6s cubic-bezier(.25,.8,.25,1);

  @include breakpoint(desktop) {
    display: none;
  }
}

.mobile_nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-block-start: $header_height_mobile;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.mobile_nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $header_height;
  max-height: 15vh;
  padding-inline: 10px;
  font-family: $mulish;
  font-style: normal;
  font-weight: 600;
  font-size: toRem(28);
  line-height: 120%;
  color: $white;
}

.contacts {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: toRem(50);
  width: 100%;
  height: $header_height;
  padding-inline: 10px;
}

.contact_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: toRem(50);
  color: $white;

  svg {
    width: toRem(50);
    height: toRem(50);
  }
}