@import 'utils';

.metadata_container {
  position: relative;
  width: 100vw;
  max-width: $max_content_width;
  margin-inline: auto;
  margin-inline-start: -#{toRem(10)};
  padding-inline: toRem(10);

  @include breakpoint(tablet) {
    margin-inline-start: -#{toRem(24)};
    padding-inline: toRem(24);
  }

  @include breakpoint(desktop) {
    margin-inline-start: -#{toRem(130)};
    padding-inline: toRem(130);
  }

  @media (min-width: 1440px) {
    margin-inline: auto;
    padding-inline: 0;
  }
}

.metadata {
  display: flex;
  flex-flow: column nowrap;
  padding-block: toRem(30);

  @include breakpoint(tablet) {
    flex-flow: row nowrap;
    gap: toRem(36);
  }

  @include breakpoint(desktop) {
    width: calc(100% - $preview_animation_width);
    padding-inline-end: toRem(64);
  }
}

.metadata_item {
  margin-block-end: 1rem;

  @include breakpoint(tablet) {
    margin-block-end: 0;
  }
}

.metadata_title {
  margin: 0;
  font-family: $mulish;
  font-weight: 700;
  font-size: toRem(18);
  line-height: 170%;
  color: $black;
  text-align: center;

  @include breakpoint(tablet) {
    text-align: start;
  }

  @include breakpoint(desktop) {
    font-size: toRem(25);
  }
}

.metadata_text {
  width: 100%;
  margin: 0;
  font-family: $mulish;
  font-weight: 400;
  font-size: toRem(16);
  line-height: 125%;
  color: $black;

  @include breakpoint(tablet) {
    width: 75%;
  }
  @include breakpoint(desktop) {
    font-size: toRem(20);
  }
}