@import 'utils';

.final_prototype {
  max-width: $max_content_width;
  margin-inline: auto;
}

.title {
  display: flex;
  align-items: center;
  height: calc($header_height - 1px);
  margin: 0;
  // padding-block-start: $header_height;
  // padding-block-end: toRem(20);
  font-family: $mulish;
  font-weight: 700;
  font-size: toRem(24);
  line-height: 1;

  @include breakpoint(desktop) {
    font-size: toRem(40);
  }
}

.prototype_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.prototype {
  aspect-ratio: 736/1800;
  margin-block-end: toRem(50);
}

.text_red {
  color: $red;
}