@import 'utils.scss';

.wrapper {
  width: 100%;
  max-width: $max_content_width;
  margin-inline: auto;
  margin-block: toRem(100);
  padding-inline: toRem(10);


  @include breakpoint(tablet) {
    padding-inline: toRem(24);
  }

  @include breakpoint(desktop) {
    padding-inline: toRem(70);
  }
}

.container {
  padding: toRem(10);
  border-radius: $border_raduis_large;
  background: $white;
  box-shadow: 0px 0px 30px rgba(16, 32, 57, 0.15);

  @include breakpoint(tablet) {
    padding: toRem(24);
  }

  @include breakpoint(desktop) {
    padding: toRem(40) toRem(70);
  }

  * {
    transform-style: preserve-3d;
    transition: all 0.3s linear;
  }
}

.section_title {
  margin-block-start: toRem(40);
  margin-block-end: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 80%;
  text-align: center;
  color: #131A36;

  @include breakpoint(tablet) {
    text-align: start;
  }

  @include breakpoint(desktop) {
    margin-block-start: 0;
  }
}

.projects_list {
  display: flex;
  flex-flow: column nowrap;
  gap: toRem(10);
  width: 100%;
  margin: toRem(40) auto 0 auto;
  padding: 0;
  list-style-type: none;

  @include breakpoint(desktop) {
    flex-flow: row wrap;
    gap: toRem(20);
  }
}

.project_preview {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border_radius_medium;

  &:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

    .project_name {
      color: $white;
    }

    .project_preview_image {
      transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }

    .project_preview_button {
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }

  @include breakpoint(desktop) {
    width: calc((100% - toRem(20) * 3) / 4);
  }
}

.project_preview_picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border_radius_medium;
  overflow: hidden;
}

.project_preview_image {
  width: 100%;
  border-radius: $border_radius_medium;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  object-fit: contain;
}

.project_name {
  color: transparent;
}

.project_preview_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: toRem(10) toRem(20);
  border: none;
  border-radius: $border_radius_medium;
  background: transparent;
}

.view_more_button {
  display: flex;
  align-items: center;
  width: toRem(120);
  margin-block-start: toRem(10);
  margin-inline: auto;
  padding: toRem(13) toRem(10);
  background: $primary_pink;
  border-radius: $border_radius_medium;

  @include breakpoint(tablet) {
    margin-block-start: toRem(24);
  }

  @include breakpoint(desktop) {
    width: toRem(140);
    margin-block-start: toRem(40);

    &:hover {
      box-shadow: 0px 5px 10px -5px rgba(79, 0, 140, 0.5);

      .right_arrow_icon {
        transform: translate3d(4px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      }
    }
  }
}

.view_more_button_text {
  font-size: toRem(14);
  line-height: toRem(20);
  color: $white;
  font-weight: 700;
  white-space: nowrap;

  @include breakpoint(desktop) {
    font-size: toRem(18);
    line-height: toRem(24);
  }
}

.right_arrow_icon {
  width: 24px;
  height: 24px;
  padding-left: 8px;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  max-width: $max_content_width;
  transform: translate(-50%, -50%);
  border-radius: $border_radius_medium;

  padding-inline: toRem(10);


  @include breakpoint(tablet) {
    padding-inline: toRem(24);
  }

  @include breakpoint(desktop) {
    padding-inline: toRem(70);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: $maastricht_blue url('/images/icons-background.svg');
}

.project_preview_picture_enlarged {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border_radius_medium;
  overflow: hidden;
}

.project_preview_image_enlarged {
  width: 100%;
  border-radius: $border_radius_medium;
  object-fit: contain;
}
