@import 'utils';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: $border_raduis_large;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-size: toRem(24);
  font-weight: 700;
  margin-block: 0 2rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}