@import 'utils.scss';

.container {
  min-height: 100vh;
  height: 100vh;
  padding-block-start: $header_height_mobile;
  background: $maastricht_blue url('/images/icons-background.svg');

  @include breakpoint(desktop) {
    padding-block-start: $header_height;
  }
}

.main_content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $max_content_width;
  height: 90%;
  margin-inline: auto;
  padding-inline: toRem(10);

  @include breakpoint(tablet) {
    padding-inline: toRem(24);
  }

  @include breakpoint(desktop) {
    padding-inline: toRem(70);
  }

  @include breakpoint(desktop) {
    flex-flow: row nowrap;
    align-items: center;
    height: 90%;
  }
}

.text_content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;


  @include breakpoint(desktop) {
    align-items: flex-start;
    width: 50%;
    padding-block-start: toRem(56);
    margin-block-start: -$header_height;
  }
}

.heading {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-family: $mulish;
  font-weight: 900;
  font-size: 9vw;
  line-height: 200%;
  text-align: center;
  color: $white;

  @include breakpoint(tablet) {
    font-size: 6vw;
    margin-block-end: toRem(70);
  }

  @include breakpoint(desktop) {
    font-size: 29px;
    text-align: start;
  }

  @media (min-width: 1440px) {
    font-size: 40px;
    text-align: start;
  }
}

.typed {
  @extend .heading;
  display: inline;
  color: $primary_pink;
}

.image_container {
  display: none;

  @include breakpoint(desktop) {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
}

.image {
  width: 100%;
  height: 100%;
  max-height: 75vh;
  object-fit: contain;
  aspect-ratio: 1920/1080;
}

.services_container {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  padding-inline: toRem(10);

  @include breakpoint(tablet) {
    padding-inline: toRem(24);
  }

  @include breakpoint(desktop) {
    padding-inline: toRem(70);
  }
}