@import 'utils.scss';

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-block-start: $header_height_mobile;
  padding-inline: toRem(10);

  @include breakpoint(tablet) {
    padding-inline: toRem(24);
  }

  @include breakpoint(desktop) {
    padding-block-start: $header_height;
    padding-inline: toRem(70);
  }
}

.section_title {
  margin: 0;
  margin-block-start: 2.5rem;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 80%;
  text-align: center;
  color: #131A36;

  @include breakpoint(tablet) {
    text-align: start;
  }
}

.projects_list {
  display: flex;
  flex-flow: column nowrap;
  gap: toRem(10);
  width: 100%;
  margin: 2.5rem auto;
  padding: 0;
  list-style-type: none;

  @include breakpoint(desktop) {
    flex-flow: row wrap;
    gap: 2.5rem;
  }
}

.project_preview {
  z-index: 0;
  width: 100%;
  background: #fff;
  border-radius: $border_raduis_large;
  box-shadow: 15px 15px 61px rgba(46, 45, 58, 0.13);
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: all 0.3s linear;

  * {
    transform-style: preserve-3d;
    transition: all 0.3s linear;
  }

  @include breakpoint(desktop) {
    width: calc((100% - 2.5rem) / 2);

    &:hover {
      opacity: 1;
      transform: translate3d(0px, -10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);

      .project_preview_image {
        transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      }
      .right_arrow_icon {
        transform: translate3d(4px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      }
    }
  }
}

.project_preview_link {
  width: 100%;
  height: 100%;
}

.project_preview_top {
  width: 100%;
  padding: 2rem 2rem 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.project_preview_picture {
  width: 100%;
  aspect-ratio: 345/194;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  object-fit: contain;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.project_preview_image {
  width: 100%;
  height: 100%;
}

.project_preview_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 2rem;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.tag {
  padding:  0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.project_title {
  margin-block: 0; // when the tags are visible change to margin-block-end: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: $maastricht_blue;

  @include breakpoint(desktop) {
    font-size: 40px;
    line-height: 56px;
  }
}

.project_description {
  font-size: 14px;
  line-height: 20px;
  color: $maastricht_blue;

  @include breakpoint(desktop) {
    font-size: 18px;
    line-height: 24px;
  }
}

.view_case_study_container {
  display: flex;
  align-items: center;
  width: toRem(160);
  padding: toRem(13) toRem(10);
  background: $primary_pink;
  border-radius: $border_radius_medium;

  @include breakpoint(desktop) {
    width: toRem(195);
    margin-block-start: auto;
  }

  &[data-autowidth="true"] {
    width: fit-content;
  }
}

.view_case_study {
  font-size: toRem(14);
  line-height: toRem(20);
  color: $white;
  font-weight: 700;
  white-space: nowrap;

  @include breakpoint(desktop) {
    font-size: toRem(18);
    line-height: toRem(24);
  }
}

.right_arrow_icon {
  width: 24px;
  height: 24px;
  padding-left: 8px;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
