@import 'utils.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-block-start: $header_height_mobile;
  padding-inline: toRem(10);

  @include breakpoint(tablet) {
    padding-inline: toRem(24);
  }

  @include breakpoint(desktop) {
    padding-block-start: $header_height;
    padding-inline: toRem(70);
  }
}

.warning_card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: calc(100vw - 2rem);
  padding: 1rem;
  aspect-ratio: 1/1;
  background: $white;
  border-radius: $border_radius_medium;
  box-shadow: 15px 15px 61px rgba(46, 45, 58, 0.13);

  @include breakpoint(tablet) {
    width: toRem(400);
  }
}

.warning_title {
  font-family: $mulish;
  font-style: normal;
  font-weight: 900;
  font-size: toRem(30);
  line-height: 138%;
  text-align: center;
  color: $maastricht_blue;

  @include breakpoint(desktop) {
    font-size: toRem(36);
  }
}

.warning_subtitle {
  margin: 0;
  padding: 1rem;
  font-family: $mulish;
  font-style: normal;
  font-weight: 900;
  font-size: toRem(24);
  line-height: 100%;
  text-align: center;
  color: $maastricht_blue;
}

.buttons_container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: toRem(150);
  height: toRem(50);
  padding: toRem(12) toRem(15);
  border: 0.5px solid transparent;
  border-radius: $border_radius_medium;
  font-style: normal;
  font-weight: 900;
  font-size: toRem(20);
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  color: $white;
  font-family: $mulish;
  line-height: 120%;

  &:hover, &:active, &:focus {
    outline: none;
  }

  &:first-child {
    margin-block-end: 1rem;
  }
}

.home_button {
  @extend .button;
  background-color: $primary_green;
}

.logout_button {
  @extend .button;
  background-color: $primary_pink;
}