@import 'utils.scss';

.container {
  min-height: 100vh;
  padding-block-start: $header_height_mobile;
  padding-inline: $padding_inline_mobile;

  @include breakpoint(tablet) {
    padding-inline: $padding_inline_tablet;
  }

  @include breakpoint(desktop) {
    padding-block-start: $header_height;
    padding-inline: $padding_inline_desktop;
  }
}
