@import 'utils';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.5px solid transparent;
  border-radius: $border_radius_medium;
  font-family: $alata;
  font-style: normal;
  font-weight: 400;
  font-size: toRem(20);
  line-height: 160%;
  letter-spacing: 2px;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s cubic-bezier(.25,.8,.25,1);

  &:hover, &:active, &:focus {
    outline: none;
  }

  @include breakpoint(tablet) {

  }
}

.action_button {
  @extend .button;
  color: $white;
  font-family: $mulish;
  font-weight: 900;
  line-height: 120%;
  background: #EE3364;
  padding: toRem(12) toRem(15);
}