@import 'utils';

.page_container {

}

.section_container {
  min-height: 100vh;

  @include breakpoint(desktop) {

  }
}

.section_container_limited {
  min-width: 280px;
  max-width: 1200px;
  margin-inline: auto;
}

.section_title {


  @include breakpoint(desktop) {

  }
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}