@import 'functions';

/* Sizes */
$header_height: toRem(106);
$header_height_mobile: toRem(86);
$border_radius_medium: toRem(10);
$border_radius_small: toRem(4);
$border_raduis_large: toRem(12);

/* Breakpoints */
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$large_desktop: 1920px;

/* Colors */
$white: #ffffff;
$black: #000000;
$maastricht_blue: #131A36;
$primary_pink: #EE3364;
$primary_yellow: #FBBD41;