@import 'functions';

/* Sizes */
$header_height: toRem(106);
$header_height_mobile: toRem(86);

/* Breakpoints */
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$large_desktop: 1920px;

/* Colors */
$white: #ffffff;
$white_pink: #FBF7FF;
$black: #000000;
$maastricht_blue: #131A36;
$primary_pink: #EE3364;
$text_red: #FF2E59;
$primary_yellow: #FBBD41;
$primary_violette: #7713D2;
$primary_green: #3cb27c;
$text_gray: #7D7B7F;
$text_blue: #669DF6;

/* Font-families */
$alata: 'Alata', sans-serif;
$mulish: 'Mulish', sans-serif;

/* Border-radius */
$border_radius_medium: toRem(10);
$border_radius_small: toRem(4);
$border_raduis_large: toRem(24);
$border_raduis_xlarge: toRem(42);

